{% extends "base.html" %}
{% block content %}

    <div class="container text-center" id="forminput">
        <div class="row">
            <div class="col col-lg-10" id="inputinfo">
                <h1>กรอกข้อมูลสำหรับการจอง</h1>
                <label for="" class="formheader">ข้อมูลติดต่อ</label>
                <form action="{{url_for('reserveroom')}}" method="post">
                    <input type="number" name="roomid" id="roomid" hidden>
                    <input type="number" name="roomprice" id="roomprice" hidden>
                    <input type="date" name="reserve_checkindate" id="reserve_checkindate" hidden>
                    <input type="date" name="reserve_checkoutdate" id="reserve_checkoutdate" hidden>
                    <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ชื่อ</span>
                            <input type="text" class="form-control" name="customer_name" id="customer_name" placeholder="กรอกชื่อ" aria-label="Username"
                                aria-describedby="basic-addon1" onkeyup="savename()" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">นามสกุล</span>
                            <input type="text" class="form-control" name="customer_lastmane" id="customer_lastmane" placeholder="กรอกนามสกุล" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">เบอร์โทรศัพท์</span>
                            <input type="number" class="form-control" name="customer_number" id="customer_number" placeholder="กรอกเบอร์โทรศัพท์" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email ติดต่อ</span>
                            <input type="email" class="form-control" name="customer_email" id="customer_email" placeholder="กรอกEmail" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                </div>
                <label for="" class="formheader">ที่อยู่</label>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ที่อยู่ปัจจุบัน</span>
                            <input type="text" class="form-control" name="resident" id="resident" placeholder="กรอกชื่อ" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">จังหวัด</span>
                            <select class="form-select" id="province" name="provinces" aria-label="Default select example" onchange="setamphures(value)" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">อำเภอ</span>
                            <select class="form-select" id="amphures" name="amphures" aria-label="Default select example" onchange="settumbon(value)" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ตำบล</span>
                            <select class="form-select" id="tumbon" name="districts" aria-label="Default select example" onchange="setpostcode(value)" required>
                              </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">รหัสไปรษณีย์</span>
                            <input type="number" class="form-control" name="zip_code" id="postcode" placeholder="กรอกรหัสไปรษณีย์" aria-label="Username"
                                aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning" id="submit">ทำการจอง</button>
                </form>
            </div>
            <div class="col d-none d-sm-none d-md-block col-md-0 col-lg-2">
                <div class="card text-bg-warning" style="width: 18rem;">
                    <div class="card-header" id="cardheader"><h4 id="showroomid"></h4></div>
                    <div class="card-body">
                        <p class="card-text" id="checkin-out" for=""></p>
                        <p class="card-text" id="roomtype"></p>
                        <button type="button" class="btn btn-light" id="showprice"><label for="" id="showroomprice"></label></button>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <script src="../static/javascript/inputreserve.js"></script>
{% endblock %}