<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>The Tokyo Station Hotel</title>
    <link rel="stylesheet" href="../static/css/inputreserve.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/LOGO_RZ1.png" alt="Logo" height="70"
                    class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nava" href="/">หน้าแรก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nava" href="/gallery">คลังภาพ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nava" href="/travel">สถานที่ท่องเที่ยวใกล้เคียง</a>
                    </li>
                    <li class="nav-item">
                        <a class="nava" href="/contact">ติดต่อเรา</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="กรอกรหัสการจองของท่าน"
                        aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">ตรวจสอบการจอง</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container text-center" id="forminput">
        <div class="row">
            <div class="col col-lg-10">
                <h1>กรอกข้อมูลสำหรับการจอง</h1>
                <label for="">ข้อมูลติดต่อ</label>
                <form action="">
                    <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ชื่อ</span>
                            <input type="text" class="form-control" placeholder="กรอกชื่อ" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">นามสกุล</span>
                            <input type="text" class="form-control" placeholder="กรอกนามสกุล" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">เบอร์โทรศัพท์</span>
                            <input type="number" class="form-control" placeholder="กรอกเบอร์โทรศัพท์" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email ติดต่อ</span>
                            <input type="email" class="form-control" placeholder="กรอกEmail" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <label for="">ที่อยู่</label>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ที่อยู่ปัจจุบัน</span>
                            <input type="text" class="form-control" placeholder="กรอกชื่อ" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">จังหวัด</span>
                            <select class="form-select" id="province" aria-label="Default select example" onchange="setamphures(value)">
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">อำเภอ</span>
                            <select class="form-select" id="amphures" aria-label="Default select example">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ตำบล</span>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>เลือกตำบล</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">รหัสไปรษณีย์</span>
                            <input type="email" class="form-control" placeholder="กรอกEmail" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning" id="submit">ทำการจอง</button>
                </form>
            </div>
            <div class="col d-none d-sm-none d-md-block col-md-0 col-lg-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/javascript/inputreserve.js"></script>
</body>

</html>