<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.paypal.com/sdk/js?client-id=AZ0H83zB2L0IOQFx7oTL13PrE3QXUfB_p0l_-ctZVyaIEJZkT2vByHN-MncOINm8F9UaWDMdkDepyOb1"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>The Tokyo Station Hotel</title>
    <link rel="stylesheet" href="../static/css/payment.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/LOGO_RZ1.png" alt="Logo" height="70"
                    class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nava" href="/">หน้าแรก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nava" href="/gallery">คลังภาพ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nava" href="/travel">สถานที่ท่องเที่ยวใกล้เคียง</a>
                    </li>
                    <li class="nav-item">
                        <a class="nava" href="/contact">ติดต่อเรา</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="กรอกรหัสการจองของท่าน"
                        aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">ตรวจสอบการจอง</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- -------------------------------------------------------------------------------------- -->
    <p>{{reservedata.reserve_id}} {{reservedata.reserve_checkindate}} {{reservedata.reserve_checkoutdate}} {{reservedata.customer_name}} {{reservedata.customer_lastmane}} {{reservedata.roomid}} {{reservedata.roomprice}}</p>
    <div id="paypal-button-container"></div>
    <script src="../static/javascript/payment.js"></script>
</body>
</html>