{% extends "base.html" %}
{% block content %}
<div class="row" id="paymentcontent">
    <div class="col-12 col-md-8">
        <div class="" id="paymentinfo">
            <h1>ตรวจสอบข้อมูลสำหรับการจอง</h1>
            <hr>
                <input type="number" name="roomid" id="roomid" hidden>
                <input type="number" name="roomprice" id="roomprice" hidden>
                <input type="date" name="reserve_checkindate" id="reserve_checkindate" hidden>
                <input type="date" name="reserve_checkoutdate" id="reserve_checkoutdate" hidden>
                <div class="row">
                <div class="col-6 col-sm-6 col-lg-6">
                        <label for="">รหัสการจอง</label><hr>
                        <label>{{reservedata.reserve_id}} </label>
                </div>
                <div class="col-6 col-sm-6 col-lg-6">
                   
                        <label for="">ชื่อผู้จอง</label><hr>
                        <label>{{reservedata.customer_name}} {{reservedata.customer_lastmane}}</label>
        
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-6">
                        <label for="">วันเข้าที่พัก</label><hr>
                        <label>{{reservedata.reserve_checkoutdate}}</label>
                </div>
                <div class="col-6 col-sm-6 col-lg-6">
                        <label for="">วันออกที่พัก</label><hr>
                        <label>{{reservedata.reserve_checkindate}}</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-6">
                    <label for="">หมายเลขห้อง</label><hr>
                        <label>{{reservedata.room_id}}</label>
                </div>
                <div class="col-6 col-sm-6 col-lg-6">
                    <label for="">ราคา</label><hr>
                        <label>{{reservedata.roomprice}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div id="pay">
            <h1>ชำระเงิน</h1><hr>
            <div id="paypal-button-container"></div>
        </div>
    </div>
  </div>
    <!-- -------------------------------------------------------------------------------------- -->
    <script src="../static/javascript/payment.js"></script>
{% endblock %}