{% extends "base.html" %}
{% block content %}
        <!-- subheader -->
        <div class="subheader">
            <div class="row" style="margin-left: auto; margin-right: 3%;">
                <div class="col">
                    <p id="checkin"></p>
                </div>
            </div>
        </div>

        <div class="cardcontent">
            <div class="row">
                {% for item in roomdata %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <!-- Content section -->
                    <div class="card text-bg-dark mb-3" style="width: 18rem; margin-right: 5%;">
                        <img src="{{item.room_image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{item.room_number}}</h5>
                            <p class="card-text">{{item.room_detail}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ราคาห้อง : {{item.room_price}}</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" name="{{item.room_number}}"
                                onclick="showroomprice('{{item.room_number}}','{{item.room_detail}}','{{item.room_price}}')">เลือกห้องนี้</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>
    <!-- Modal -->
    <div class="modal fade" id="roomcalculate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">เลขที่ห้อง : <a id="roomnumber"></a></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  onclick="cleardata()"></button>
                </div>
                <div class="modal-body">
                    รายละเอียดห้อง : <a id="roomdetail"></a> <br>
                    <p>ผู้ใหญ่ เพิ่มคนละ 300 บาท</p>
                    <input type="number" class="form-control" id="adultprice" aria-describedby="basic-addon3"
                        onchange="peopleprice()">
                    <p>เด็ก เพิ่มคนละ 100 บาท</p>
                    <input type="number" class="form-control" id="kidprice" aria-describedby="basic-addon3"
                        onchange="peopleprice()">
                    <p class="caution">ราคานี้สำหรับผู้ใหญ่สองท่าน หากมากกว่านั้นโปรดระบุ</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="pricetag" class="btn btn-warning"><a id="roomprice"></a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="cleardata()">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" onclick="saveroom()">จองห้อง</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/javascript/searchroom.js"></script>
{% endblock %}