{% extends "base.html" %}
{% block content %}
        <!--Content-->
        <section class="logo_content">
            <img  src="../static/images/Content_Logo.svg" width="200px" height="200px" alt="logo">
        </section>
        <section class="content_text">
            <a>ที่พักหรูสไตล์ยุโรป ใจกลางกรุงโตเกียว</a>
        </section>

        <!--Feather Bar-->
        <div class="form_input">
            <div class="container text-center" id="inputdate">
                <form action="{{url_for('searchroom')}}" method="post">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input">วันที่เข้าพัก</label><br>
                            <input type="date" class="form-control" name="reserve_checkindate" id="reserve_checkindate" onchange="storecheckindate(value)" required>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input">วันออกที่พัก</label><br>
                            <input class="form-control" type="date" name="reserve_checkoutdate" id="reserve_checkoutdate" onchange="storecheckoutdate(value)" required>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input">ประเภทห้อง</label><br>
                            <select class="form-select" name="class_id" id="class_id" onchange="roomtype(value)">
                                <option selected>เลือกประเภทห้อง</option>
                                <option value="1">ห้องปกติ</option>
                                <option value="2">ห้องพิเศษ</option>
                                <option value="3">ห้องสุดหรู</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input"></label><br>
                            <input type="submit" class="btn btn-outline-warning" { font-size: 24px; font-family: Kanit; }  value="ค้นหาห้องพัก">
                        </div>
                </form>
            </div>
        </div>
    </main>
    <script src="../static/javascript/index_js.js"></script>
{% endblock %}