<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>The Tokyo Station Hotel</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <main>
        <!--NAV BAR-->
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../static/images/LOGO_RZ1.png" alt="Logo" height="70"
                        class="d-inline-block align-text-top"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nava" href="/">หน้าแรก</a>
                        </li>
                        <li class="nav-item">
                            <a class="nava" href="/gallery">คลังภาพ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nava" href="/travel">สถานที่ท่องเที่ยวใกล้เคียง</a>
                        </li>
                        <li class="nav-item">
                            <a class="nava" href="/contact">ติดต่อเรา</a>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="กรอกรหัสการจองของท่าน"
                            aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">ตรวจสอบการจอง</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--Content-->
        <section class="logo_content">
            <img  src="../static/images/Content_Logo.svg" width="200px" height="200px" alt="logo">
        </section>
        <section class="content_text">
            <a>ที่พักหรูสไตล์ยุโรป ใจกลางกรุงโตเกียว</a>
        </section>

        <!--Feather Bar-->
        <div class="form_input">
            <div class="container text-center">
                <form action="{{url_for('searchroom')}}" method="post">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input">วันที่เข้าพัก</label><br>
                            <input type="date" class="form-control" name="reserve_checkindate" id="reserve_checkindate" onchange="storecheckindate(value)" required>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input">วันออกที่พัก</label><br>
                            <input class="form-control" type="date" name="reserve_checkoutdate" id="reserve_checkoutdate" onchange="storecheckoutdate(value)" required>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input">ประเภทห้อง</label><br>
                            <select class="form-select" name="class_id" id="class_id" onchange="roomtype(value)">
                                <option selected>เลือกประเภทห้อง</option>
                                <option value="1">ห้องปกติ</option>
                                <option value="2">ห้องพิเศษ</option>
                                <option value="3">ห้องสุดหรู</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <label for="" class="header_input"></label><br>
                            <input type="submit" class="btn btn-outline-warning" { font-size: 24px; font-family: Kanit; }  value="ค้นหาห้องพัก">
                        </div>
                </form>
            </div>
        </div>
    </main>
    <script src="../static/javascript/index_js.js"></script>
</body>

</html>